---
interface Props {}
---

<div
    class="flex flex-col gap-8 py-16 sm:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <h1 class="text-4xl 2xl:text-6xl font-semibold">About Us</h1>
    <p class="text-base 2xl:text-lg">
        We’re a proud, family-owned business based in Palm Desert, California,
        run by father-and-son duo Anthony and Joseph Bickford. With a rich blend
        of expertise in software engineering, customer service, and tech
        support, we bring years of hands-on experience to help you navigate and
        thrive in the ever-evolving world of technology. Our mission is simple:
        to solve your tech challenges and empower you with the knowledge to stay
        ahead in today’s connected world.
    </p>
    <img class="rounded-3xl" src="palmdesert.jpg" alt="Palm Desert arial" />
</div>
