---
import ContactForm from "../ContactForm";
---

<div
    class="bg-zinc-800 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <ContactForm dark="false" client:only />
</div>
