---
import Question from "../Question.astro";
---

<div
    class="flex flex-col gap-8 mt-0 py-16 sm:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <h1 class="text-4xl 2xl:text-6xl font-semibold">
        Frequently Asked Questions
    </h1>
    <div class="flex flex-col gap-8">
        <Question
            question=`What if I don't see the service I'm looking for?`
            answer=`Not a problem! Head to our contact page and leave your 
        contact info along with the service you are looking for. If we can help we will be sure to get it done for you! We are always
        looking to expand our services!`
        />
        <Question
            question=`What areas do you serve?`
            answer=`We primarily serve all cities in the Coachella Valley! Palm Desert, Rancho Mirage, Cathedral City, 
            Palm Springs, Coachella, La Quinta, Indio, Desert Hot Springs, Twentynine Palms!`
        />
        <Question
            question=`Do you work with businesses of all sizes?`
            answer=`Absolutely! Whether you’re a small startup, a growing business, or a large corporation, we provide tailored solutions to meet your specific needs.`
        />
        <Question
            question=`How do I get started with your services?`
            answer=`Simply reach out to us through our contact form, email, or phone. We'll discuss your needs, offer recommendations, and provide a plan that fits your business goals.`
        />
        <Question
            question=`Can you redesign my existing website?`
            answer=`Yes! We can refresh your current website with a modern design, improved functionality, and the latest technology to enhance user experience and performance.`
        />
        <Question
            question=`Do you provide website maintenance and updates?`
            answer=`Yes! We offer ongoing support and maintenance plans to keep your site secure, up-to-date, and running smoothly.`
        />
        <Question
            question=`Can you help set up and secure my business network?`
            answer=`Definitely! We can install, configure, and secure your business network to ensure fast, reliable, and protected connectivity.`
        />
    </div>
</div>
