---
import CTA from "../CTA.astro";
---

<div
    class="flex flex-col w-full xl:flex-row gap-8 items-center mt-0 2xl:mt-32 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <div class="flex flex-col gap-4 w-full 2xl:w-1/2">
        <h1 class="text-4xl 2xl:text-6xl font-semibold">
            <span class="text-primary-blue">Digital Marketing</span>
            <br /> From Simple Fixes to Complex Solutions.
        </h1>
        <p class="text-md sm:text-xl">
            We are dedicated to delivering a personalized experience that not
            only meets your unique needs but exceeds your expectations. Our
            promise is to provide long-term, high-quality solutions you can
            trust. Ensuring you have what you need to focus and grow you
            business is our priority.
        </p>
        <div class="mt-4 flex justify-center lg:justify-normal">
            <CTA text="Discover Your Solution!" destination="/contact" />
        </div>
    </div>
    <img class="2xl:w-1/2 rounded-3xl" src="devhero.svg" alt="Developer" />
</div>
