---
import CTA from "../CTA.astro";
---

<div
    class="flex flex-col w-full xl:flex-row gap-8 items-center mt-0 2xl:mt-32 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <div class="flex flex-col gap-4 w-full 2xl:w-1/2">
        <h1 class="text-4xl 2xl:text-6xl font-semibold">
			Smart Home Made Simple — Professional, Patient Installation You Can Trust
        </h1>
        <p class="text-md sm:text-xl">
		From smart lighting to home security, we make modern technology easy to use and reliable.
		Get personalized, in-home setup from a local expert — no confusion, no stress.
        </p>
        <div class="mt-4 flex justify-center lg:justify-normal">
            <CTA text="Reach out!" destination="/contact" />
        </div>
    </div>
    <img class="2xl:w-1/2 rounded-3xl" src="smart_home.svg" alt="Developer" />
</div>
