---
import CTA from "../CTA.astro";
---

<div
    class="flex flex-col w-full xl:flex-row gap-8 items-center mt-0 2xl:mt-32 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <div class="flex flex-col gap-4 w-full 2xl:w-1/2">
        <h1 class="text-4xl 2xl:text-6xl font-semibold">
            <span class="text-primary-blue">YOU WORK HARD</span>
            <br /> YOUR WEBSITE SHOULD TOO.
        </h1>
        <p class="text-md sm:text-xl">
            I build fast, clean websites for pool and lawn pros that:
            <br /> ✅ Show up on Google
            <br />✅ Work perfectly on phones
            <br />✅ Turn visitors into customers You take care of yards and
            pools.
            <br />I take care of getting you more business. No tech headaches.
            No wasted time. Just results.
        </p>
        <div class="mt-4 flex justify-center lg:justify-normal">
            <CTA text="Reach out!" destination="/contact" />
        </div>
    </div>
    <img class="2xl:w-1/2 rounded-3xl" src="devhero.svg" alt="Developer" />
</div>
