---
import CTA from "../CTA.astro";
---

<div
    class="flex flex-col w-full xl:flex-row gap-8 items-center mt-0 2xl:mt-32 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <div class="flex flex-col gap-4 w-full 2xl:w-1/2">
        <h1 class="text-4xl 2xl:text-6xl font-semibold">
			Helping Families Keep Their Loved Ones Safe and Independent at Home
        </h1>
        <p class="text-md sm:text-xl">
			Simple, reliable in‑home safety technology — installed with patience, care, and clear explanations. No subscriptions. No pressure. Just practical help you can trust.
        </p>
        <div class="mt-4 flex justify-center lg:justify-normal">
            <CTA text="Schedule a Free Home Safety Assessment" destination="/contact" />
        </div>
    </div>
    <img class="2xl:w-1/2 rounded-3xl" src="smart_home.svg" alt="Developer" />
</div>
