---
---

<div
    class="flex flex-col w-full xl:flex-row gap-8 items-center xl:items-stretch mt-0 2xl:mt-32 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <div class="flex flex-col gap-4 w-full 2xl:w-1/2">
        <h1 class="text-xl 2xl:text-4xl font-semibold">
			When a parent or loved one is aging at home, small risks can quickly become big worries — especially when you can’t be there all the time.
        </h1>
        <p class="text-md sm:text-xl">
			We help families reduce those risks using easy‑to‑use safety technology that blends into daily life. Everything is installed and explained patiently and free written protocols are provided every time, so your loved one feels comfortable — not overwhelmed.
        </p>
    </div>
	<div class="flex-1 xl:pl-16">
		<ul class="h-full text-md sm:text-xl flex flex-col justify-between py-4 xl:py-8">
			<li>✅ Automatic lighting to reduce nighttime falls</li>
			<li>✅ Hands‑free emergency calling</li>
			<li>✅ Gentle activity alerts for peace of mind</li>
			<li>✅ Simple routines and protocols that make daily life easier</li>
		</ul>
	</div>
</div>
