---
import CTA from "../CTA.astro";
import ServiceCard from "../ServiceCard.astro";
---

<div
    class="flex flex-col text-white items-center gap-8 bg-zinc-800 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <h1 class="text-4xl 2xl:text-6xl font-semibold">Services</h1>
    <div
        class="flex flex-col 2xl:flex-row gap-16 justify-between items-center 2xl:items-stretch text-white"
    >
        <ServiceCard
            title="Custom Websites"
            image="coding.svg"
            description=`We design websites that reflect the unique needs of local service businesses. 
            From clear service listings to easy contact forms, your website will be your most valuable tool for 
            attracting new customers and staying ahead of your competition.`
            link=""
        />
        <ServiceCard
            title="Appointment Booking"
            image="booking.svg"
            description=`Make it easy for your clients to book your services directly from your website—no more missed calls or lengthy phone tag. 
            Our online booking system allows clients to schedule their next service at their convenience, 
            making the process smooth and efficient for everyone.`
            link=""
        />
        <!--
        <ServiceCard
            title="Social Media Ads"
            image="smm.svg"
            description=`Social media ads are a powerful tool for attracting high-quality leads and driving more sales to your business. But crafting the perfect campaign takes time, strategy, and expertise. 
            Let us handle the heavy lifting—creating compelling ads, targeting the right audience, and optimizing for conversions—so you can enjoy a steady stream of new customers without the hassle!`
            link=""
        />
-->
        <ServiceCard
            title="IT Support"
            image="it.svg"
            description=`We're here to make your tech experience seamless and stress-free! Whether you need expert management for your existing website, 
            customized networking solutions, or hassle-free setup for smart devices, we've got you covered. Let us handle the technical details 
            so you can focus on what matters most—growing your business and staying connected!`
            link=""
        />
    </div>
    <CTA text="Reach Out!" destination="/contact" />
</div>
