---
import CTA from "../CTA.astro";
import ServiceCard from "../ServiceCard.astro";
---

<div
    class="flex flex-col text-white items-center gap-8 bg-zinc-800 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <h1 class="text-4xl 2xl:text-6xl font-semibold">Services</h1>
    <div
        class="flex flex-col 2xl:flex-wrap gap-16 items-center 2xl:items-stretch text-white"
    >
        <ServiceCard
            title="Home Automation and Security"
            image="automation.svg"
            description=`We install and configure smart lighting, thermostats, cameras, and locks that keep your home running smoothly and securely. From lights that greet you to alerts that give you peace of mind, we make everyday living effortless — and show you exactly how it all works.`
            link=""
        />
        <ServiceCard
            title="Emergency Assistance & Safety Automation"
            image="help.svg"
            description=`Your home should help you when it matters most. We integrate devices like Amazon Alexa Assist, fall detection, and voice-activated emergency contacts so help is never far away. Ideal for seniors or anyone who wants an extra layer of safety — discreet, dependable, and easy to use.`
            link=""
        />
        <ServiceCard
            title="Wi-Fi Optimization"
            image="wifi.svg"
            description=`Smart homes need strong connections. We test, strengthen, and simplify your Wi-Fi network so every device stays online without lag or drop-outs. No more buffering, dead zones, or confusing router settings — just smooth, reliable coverage.`
            link=""
        />
        <ServiceCard
            title="Voice Assistant Setup"
            image="robots.svg"
            description=`Alexa, Google, or Siri — we’ll connect them all so they actually make life easier. From turning on the lights to checking the front door, we’ll personalize your commands and walk you through how to use them confidently.`
            link=""
        />
    </div>
    <CTA text="Contact Us" destination="/contact" />
</div>
