---
import CTA from "../CTA.astro";
import ServiceCard from "../ServiceCard.astro";
---

<div
    class="flex flex-col text-white items-center gap-8 bg-zinc-800 py-16 2xl:py-32 px-small-padding md:px-medium-padding 2xl:px-large-padding"
>
    <h1 class="text-4xl 2xl:text-6xl font-semibold">Services</h1>
    <div
        class="flex flex-col 2xl:flex-row gap-16 justify-between items-center 2xl:items-stretch text-white"
    >
        <ServiceCard
            title="Home Automation"
            image="automation.svg"
            description=`Bring comfort and convenience to every room. We install and configure smart lighting, thermostats, and plugs so your home runs smoothly on its own. Whether you want lights that greet you when you walk in or temperature that adjusts automatically, we make everyday living effortless — and we’ll show you exactly how it works.`
            link=""
        />
        <ServiceCard
            title="Home Security"
            image="security.svg"
            description=`Feel secure knowing your home is always being looked after. We set up smart cameras, doorbells, and motion sensors that send real-time alerts to your phone. No complicated apps or wiring — just reliable protection and peace of mind, installed by someone you can trust.`
            link=""
        />
        <ServiceCard
            title="Emergency Assistance & Safety Automation"
            image="help.svg"
            description=`Your home should help you when it matters most. We integrate devices like Amazon Alexa Assist, fall detection, and voice-activated emergency contacts so help is never far away. Ideal for seniors or anyone who wants an extra layer of safety — discreet, dependable, and easy to use.`
            link=""
        />
        <ServiceCard
            title="Wi-Fi Optimization"
            image="wifi.svg"
            description=`Smart homes need strong connections. We test, strengthen, and simplify your Wi-Fi network so every device stays online without lag or drop-outs. No more buffering, dead zones, or confusing router settings — just smooth, reliable coverage.`
            link=""
        />
        <ServiceCard
            title="Voice Assistant Setup"
            image="robots.svg"
            description=`Alexa, Google, or Siri — we’ll connect them all so they actually make life easier. From turning on the lights to checking the front door, we’ll personalize your commands and walk you through how to use them confidently.`
            link=""
        />
    </div>
    <CTA text="Contact Us" destination="/contact" />
</div>
