---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/Sections/AboutSection.astro";
import "../styles/base.css";
---

<Layout title="About">
    <main>
        <AboutSection />
    </main>
</Layout>
