---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Sections/Hero.astro";
import Services from "../components/Sections/Services.astro";
import FAQ from "../components/Sections/FAQ.astro";
import Contact from "../components/Sections/Contact.astro";
import "../styles/base.css";
import AboutSection from "../components/Sections/AboutSection.astro";
import Info from "../components/Sections/Info.astro"
---

<Layout title="Home">
	<main class="">
		<Hero />
		<Info />
		<Services />
		<FAQ />
		<Contact />
		<AboutSection />
	</main>
</Layout>
