---
const { dark } = Astro.props;
---

<div id="contact">
    <form id="form" method="POST">
        <input
            type="hidden"
            name="access_key"
            value="3cb4c1b0-a58f-490b-a787-a58dcca2dad4"
        />
        <div class="flex flex-col xl:flex-row justify-between gap-8">
            <div class="flex flex-col justify-between gap-4">
                <div
                    class="flex gap-2 lg:flex-col text-primary-blue text-4xl lg:text-6xl"
                >
                    <span>CONTACT</span>
                    <span>US</span>
                </div>
                <p class={`text-base ${dark ? "text-white" : "text-black"}`}>
                    Leave us your contact information with a short description
                    of what you need and we will give you a call ASAP!
                </p>
                <div class={`${dark ? "text-white" : "text-black"}`}>
                    {
                        /* <div>GIVE US A CALL: <a href="tel:+15555555555"><span class="font-semibold text-primary-blue">(555) 555-5555</span></a></div> */
                    }
                    {
                        /* <div>EMAIL: <span class="font-semibold text-primary-blue">bickfordjoe86@gmail.com</span></div> */
                    }
                </div>
            </div>
            <div class="flex flex-col gap-4 justify-between">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col xl:flex-row gap-4">
                        <input
                            class={`border-2 border-primary-blue p-2 rounded-lg ${dark ? "bg-dark text-white" : "bg-light text-black"}`}
                            type="text"
                            name="first"
                            id="FIRST_NAME"
                            placeholder="First Name"
                        />
                        <input
                            class={`border-2 border-primary-blue p-2 rounded-lg ${dark ? "bg-dark text-white" : "bg-light text-black"}`}
                            type="text"
                            name="last"
                            id="LAST_NAME"
                            placeholder="Last Name"
                        />
                        <input
                            class={`border-2 border-primary-blue p-2 rounded-lg ${dark ? "bg-dark text-white" : "bg-light text-black"}`}
                            type="email"
                            name="email"
                            id="EMAIL"
                            placeholder="Email"
                        />
                        <input
                            class={`border-2 border-primary-blue p-2 rounded-lg ${dark ? "bg-dark text-white" : "bg-light text-black"}`}
                            type="tel"
                            name="number"
                            id="PHONE_NUMBER"
                            placeholder="Phone Number"
                        />
                    </div>
                    <textarea
                        class={`border-2 border-primary-blue p-2 rounded-lg resize-none ${dark ? "bg-dark text-white" : "bg-light text-black"}`}
                        name="message"
                        id="MESSAGE"
                        placeholder="Message"></textarea>
                </div>
                <div class="flex lg:gap-4 justify-end">
                    <button type="reset" class="font-semibold text-red-500"
                        >Cancel</button
                    >
                    <button
                        type="submit"
                        class="ml-auto lg:ml-0 font-semibold text-primary-blue"
                        >Submit</button
                    >
                </div>
                <div>
                    <p id="result"></p>
                </div>
            </div>
        </div>
    </form>
</div>

<script is:inline>
    const form = document.getElementById("form");
    const result = document.getElementById("result");

    form.addEventListener("submit", (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const data = {};
        formData.forEach((value, key) => (data[key] = value));

        if (
            !data.first ||
            !data.last ||
            !data.email ||
            !data.number ||
            !data.message
        ) {
            result.style.color = "red";
            result.innerText = "The form is not completed!";
        } else {
            const json = JSON.stringify(object);
            result.style.color = "#3882ff";
            result.innerHTML = "Please wait...";
            fetch("https://api.web3forms.com/submit", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                },
                body: json,
            })
                .then(async (response) => {
                    let json = await response.json();
                    if (response.status == 200) {
                        result.innerHTML = "Form submitted successfully";
                    } else {
                        console.log(response);
                        result.innerHTML = json.message;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    result.innerHTML = "Something went wrong!";
                })
                .then(function () {
                    form.reset();
                    setTimeout(() => {
                        result.style.display = "none";
                    }, 3000);
                });
        }
    });
</script>
