---
interface Props {
    title: string;
    description: string;
    image: string;
    link: string;
}

const { title, description, image, link } = Astro.props;
---
<div
	class="flex flex-col flex-1 items-center 2xl:items-start gap-4 2xl:gap-8 text-left bg-white text-black p-8 rounded-3xl shadow-3xl"
>
    <img class="w-16 h-16" src={image} alt={image} />
    <h1 class="text-4xl lg:text-6xl self-start">{title}</h1>
    <p class="text-md sm:text-lg">
	{description}
    </p>
</div>
